@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: linear-gradient(to top, #ffffff, #000000);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
header {
    
    background-color: black;
    letter-spacing: 5px;
    font-weight: bold; 
    font-family:"FF Mark W05";
    display: flex;
    position: relative;
    align-items: center;
    color: white;
    text-align: center;
    height: 80px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
nav{
    display: flexbox;
    margin: auto;

}
.logo {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    font-size: 13px;
    margin-left: 10px;
    padding: 2px;
    font-weight: 600;
    text-align: center;
    border-radius: 5%;
    letter-spacing: 3px;
    color: #f3f6f7;
}


nav a:hover {
    color: red;
}
#search-bar {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

.search-form-container{
    margin-right: 5%;

}

#search-form button {
    width: 30%;
    height: 5%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ca0808;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

#search-form button:hover {
    background-color: #8B0000;
}
.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-toggle2 {
    cursor: pointer;
    font-weight: 600;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.Ingresar-como {
    display: none;
    position: absolute;
    background-color: #8B0000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown2:hover .Ingresar-como {
    display: block;
}

.Ingresar-como a {
    color: black;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.Ingresar-como a:hover {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    font-weight: 600;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #8B0000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.dropdown-menu a:hover {
    background-color: white;
}

#inicio {margin-top: 0px;
    text-align: center;
    height: 600px;
    
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* noticias destacadas */

.contenedor-actuales{
    display: flex;
    padding: 0;
    margin:auto;
    margin-right: 200px;
}

.cubo-actuales{
    padding-left: 15px;
}

.noticias-actuales{
    color:rgb(0, 0, 0);
    letter-spacing: 7px;
    margin-left: 20px;
    font-size: 30px;
    border-bottom: #404040 solid 2px;
    padding-bottom: 5px;
    width: 95%;
}
.imagenes-destacados{
    border: #404040 solid 8px;
}
.imagenes-destacados:hover {
        background-color: #FF4500;
        transform: scale(1.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    }

.cubo-actuales h3 {
    color: #8B0000;
}
.cubo-actuales p {
    text-align: justify;
}
/*--------------------------------------------------------------------------------------------------------------------*/
#rewards-section{
    background-color: rgba(255, 69, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 100%;
}

#rewards-section h2 {
    text-align: center;
    color:#000000;
}

.reward-item {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: rgb(255, 255, 255);
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 15px;
    
}
.reward-item p{
    color: #000;
}

.reward-item h3 {
    margin: 0;
    color: #5f0808;
    font-weight: 100;
}
.ryp{
    font-family:"FF Mark W05";
    letter-spacing: 7px;
    margin-left: 20px;
    font-size: 30px;
    border-bottom: #404040 solid 2px;
    width: 96%;
    margin: auto;


}
.contenedor-cubs{
    display: flex;
    margin:auto;
    margin-top: 10px;

}

  /*--------------------------------------------------------------------------------------------------------------------*/

  .social-bubbles {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.social-bubble {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.social-bubble.facebook {
    background-image: url(../imagenes/facebook-6338507_1280.webp);
    background-position: center;
    background-size: cover;
}

.social-bubble.twitter {
    background-image: url(../imagenes/twitter.webp);
    background-position: center;
    background-size: cover;
}

.social-bubble.instagram{
    background-image: url(../imagenes/instagram-6338393_1280.webp);
    background-position: center;
    background-size: cover;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.area-formulario input[required], textarea[required] {
    border-color: #f28d8d;
  }

  .img-soporte{
    position: absolute;
    left: 280px;
  }
  .area-formulario {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
    left: 55%;
  }
  

.area-formulario input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
 .area-formulario input[type="text"]:focus, textarea:focus, input[type="file"]:focus {
    border-color: #6d0a0a;
    outline: none;
  }

/*--------------------------------------------------------------------------------------------------------------------*/
a.active{
    background: #14ff72cb;
    border-radius: 2px;
}

header a:hover{
    background: #000000cb;
    border-radius: 2px;
}


.slider{
    height: 80vh;
    margin-top: -5px;
    width: 98,5vw;
    overflow: hidden;
    position: relative;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 4em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .type{
    color: #14ff72cb;
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item .button button{
    border: none;
    background-color: #eee;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.8s;
    letter-spacing: 2px;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}


.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

.slider .list .item:nth-child(1){
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}



.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}


.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
.zona_formulario{
    margin-top: 40px;
    margin-bottom: 40px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.footer {
    background-color: #333;  /* Fondo oscuro para el footer */
    color: white;
    padding: 20px;
    text-align: center;
}
/*--------------------------------------------------------MEDIA------------------------------------------------------------*/
@media (max-width: 768px) {

    nav a{
        font-size: 12px;
        margin: 0;
    }


    .contenedor-actuales h3 , p{
        display: none;
    
    }

    #search-form button {
        width: 100%;
        margin: 0px;
    }
    #search-bar {
        width: 100%;
        margin: 0px;
    }

    .logo{
        margin: 0px;

    }
    .contenedor-actuales{
        margin-left: -30px;
        flex-direction: column;
    }
    .contenedor-actuales img{
        width: 400px;
        margin-top: 10px;
      
    }
    .contenedor-cubs .reward-item{
        margin:5px;
    }

    .contenedor-cubs h3{
        font-size: 20px;
    }
    .contenedor-cubs p{
        display: none;
       
    }
    .area-formulario {
        left: 0%;
        width: 90%

      }
      .zona_formulario img{
        display: none;
    }
      
    }
  



